!!!!
%html{lang: 'en'}
  %head
    %title Norbert configuration
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %link{rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"}
    %link{rel: "stylesheet", href: "/dropzone.css"}
    %script{src: '/dropzone.js'}
  %body
    .container
      - flash.keys.each do |type|
        .alert{class: "alert-#{type}"}
          = flash[type]
      = yield
